@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.qr-code {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  background-color: white ;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qr-code .qr-image {
  position: relative;
  border-radius: 50px;
  height: 200px;
  width: 200px;
  padding: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-bottom: 10px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content h2 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.content span {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color:rgb(65, 64, 64);
  margin-bottom: 0;
}